In [5]:
from pathlib import Path
import sys
repo_dir = Path("__notebook__").resolve().parent.parent.parent
curr_dir = Path("__notebook__").resolve().parent
sys.path.append(str(repo_dir))

import tablemage as tm

In [6]:
import pandas as pd
df = pd.read_csv(curr_dir / "datasets" / "titanic.csv")
analyzer = tm.Analyzer(df, test_size=0.2, split_seed=42)
analyzer

UPDT: Analyzer initialized for dataset 'Unnamed Dataset'.

========================================================================================
Unnamed Dataset
----------------------------------------------------------------------------------------
Train shape: (712, 12)                      Test shape: (179, 12)
----------------------------------------------------------------------------------------
Categorical variables:
  'Cabin', 'Embarked', 'Name', 'Sex', 'Ticket'

Numeric variables:
  'Age', 'Fare', 'Parch', 'PassengerId', 'Pclass', 'SibSp', 'Survived'
========================================================================================

In [8]:
analyzer.engineer_categorical_var(
    "Age_categorical",
    numeric_var="Age",
    level_names=[
        "young", "old"
    ],
    thresholds=[50],
    leq=False
)

UPDT: Engineered categorical variable 'Age_categorical' from numeric variable 'Age' with
      categories 'young', 'old'.

========================================================================================
Unnamed Dataset
----------------------------------------------------------------------------------------
Train shape: (712, 13)                      Test shape: (179, 13)
----------------------------------------------------------------------------------------
Categorical variables:
  'Cabin', 'Embarked', 'Name', 'Sex', 'Ticket', 'Age_categorical'

Numeric variables:
  'Age', 'Fare', 'Parch', 'PassengerId', 'Pclass', 'SibSp', 'Survived'
========================================================================================

In [9]:
analyzer.logit("Survived", ["Age_categorical", "Fare", "Pclass"])

NOTE: Train dataset: dropped 140 examples with missing values out of 712 total examples.
NOTE: Test dataset: dropped 37 examples with missing values out of 179 total examples.

========================================================================================
Logistic Regression Report
----------------------------------------------------------------------------------------
Target variable:
  'Survived'

Predictor variables (3):
  'Age_categorical', 'Fare', 'Pclass'
----------------------------------------------------------------------------------------
Metrics:
  Train (572)                                Test (142)
    F1:     0.475                              F1:     0.612
    Acc:    0.668                              Acc:    0.732
    AUROC:  0.707                              AUROC:  0.783
----------------------------------------------------------------------------------------
Coefficients:
                                         Estimate         Std. Error            p-value
  Predictor
  const                                     0.599              0.406              0.140
  Age_categorical::young                    0.766              0.318              0.016
  Fare                                      0.004              0.003              0.110
  Pclass                                   -0.815              0.145              0.000
========================================================================================

In [15]:
analyzer.df_all()["Area"].loc[df.index].median()

0.0775