In [1]:
import pandas as pd
import sys
sys.path.append("../..")
import tabularmagic as tm


data = pd.read_csv("data/card.csv")
data["educ_binary"] = data["educ"].apply(lambda x: 1 if x >= 13 else 0)

/Users/andrewyang/anaconda3/envs/tm/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
analyzer = tm.Analyzer(data)

WARN: No test DataFrame provided. The test DataFrame will be treated as a train
      DataFrame copy.
INFO: Analyzer initialized for dataset 'Unnamed Dataset'. Shapes of train, test
      DataFrames: (3010, 35), (3010, 35).

In [3]:
data.head()

,id,nearc2,nearc4,educ,age,fatheduc,motheduc,weight,momdad14,sinmom14,...,wage,enroll,KWW,IQ,married,libcrd14,exper,lwage,expersq,educ_binary
0,2,0,0,7,29,NaN,NaN,158413,1,0,...,548,0,15.0,NaN,1.0,0.0,16,6.306275,256,0
1,3,0,0,12,27,8.0,8.0,380166,1,0,...,481,0,35.0,93.0,1.0,1.0,9,6.175867,81,0
2,4,0,0,12,34,14.0,12.0,367470,1,0,...,721,0,42.0,103.0,1.0,1.0,16,6.580639,256,0
3,5,1,1,11,27,11.0,12.0,380166,1,0,...,250,0,25.0,88.0,1.0,1.0,10,5.521461,100,0
4,6,1,1,12,34,8.0,7.0,367470,1,0,...,729,0,34.0,108.0,1.0,0.0,16,6.591674,256,0

In [4]:
causal_model = analyzer.causal_model(
    treatment="educ_binary",
    outcome="lwage",
    confounders=[
        "exper", "expersq", "black", "smsa", "south", "smsa66", "reg662", "reg663",
        "reg664", "reg665", "reg666", "reg667", "reg668", "reg669"
    ]
)

In [5]:
causal_model.estimate_ate(method="weighted_regression")

0       1.057076
1       1.859283
2       1.142000
3       1.614706
4       1.146540
          ...
3005    2.439782
3006    1.214150
3007    3.316739
3008    1.178206
3009    1.578712
Length: 3010, dtype: float64

========================================================================================
Causal Effect Estimation Report
----------------------------------------------------------------------------------------
Estimate:
Ate: 0.1959357580075756                     SE: 0.024798502487079266
----------------------------------------------------------------------------------------
Treatment Variable: 'educ_binary'

Outcome Variable: 'lwage'

Confounders:
  'exper', 'expersq', 'black', 'smsa', 'south', 'smsa66', 'reg662', 'reg663', 'reg664',
  'reg665', 'reg666', 'reg667', 'reg668', 'reg669'
========================================================================================

In [6]:
causal_model.estimate_ate(method="outcome_regression")

========================================================================================
Causal Effect Estimation Report
----------------------------------------------------------------------------------------
Estimate:
Ate: 0.23847826657377313                    SE: 0.017312511542422422
----------------------------------------------------------------------------------------
Treatment Variable: 'educ_binary'

Outcome Variable: 'lwage'

Confounders:
  'exper', 'expersq', 'black', 'smsa', 'south', 'smsa66', 'reg662', 'reg663', 'reg664',
  'reg665', 'reg666', 'reg667', 'reg668', 'reg669'
========================================================================================