In [1]:
import pandas as pd
import sys
sys.path.append("../..")
import tablemage as tm


data = pd.read_csv("data/card.csv")
data.head()

,id,nearc2,nearc4,educ,age,fatheduc,motheduc,weight,momdad14,sinmom14,...,wage,enroll,KWW,IQ,married,libcrd14,exper,lwage,expersq,educ_binary
0,2,0,0,7,29,NaN,NaN,158413,1,0,...,548,0,15.0,NaN,1.0,0.0,16,6.306275,256,0
1,3,0,0,12,27,8.0,8.0,380166,1,0,...,481,0,35.0,93.0,1.0,1.0,9,6.175867,81,0
2,4,0,0,12,34,14.0,12.0,367470,1,0,...,721,0,42.0,103.0,1.0,1.0,16,6.580639,256,0
3,5,1,1,11,27,11.0,12.0,380166,1,0,...,250,0,25.0,88.0,1.0,1.0,10,5.521461,100,0
4,6,1,1,12,34,8.0,7.0,367470,1,0,...,729,0,34.0,108.0,1.0,0.0,16,6.591674,256,0

In [2]:
analyzer = tm.Analyzer(data, test_size=0.2)
analyzer

UPDT: Analyzer initialized for dataset 'Unnamed Dataset'.

========================================================================================
Unnamed Dataset
----------------------------------------------------------------------------------------
Train shape: (2408, 35)                      Test shape: (602, 35)
----------------------------------------------------------------------------------------
Categorical variables:
  None

Numeric variables:
  'IQ', 'KWW', 'age', 'black', 'educ', 'educ_binary', 'enroll', 'exper', 'expersq',
  'fatheduc', 'id', 'libcrd14', 'lwage', 'married', 'momdad14', 'motheduc', 'nearc2',
  'nearc4', 'reg661', 'reg662', 'reg663', 'reg664', 'reg665', 'reg666', 'reg667',
  'reg668', 'reg669', 'sinmom14', 'smsa', 'smsa66', 'south', 'south66', 'step14',
  'wage', 'weight'
========================================================================================

In [3]:
analyzer.eda().numeric_stats().loc["married"]

Statistic
min                1.000
max                6.000
mean               2.271
std                2.067
variance           4.272
skew               1.086
kurtosis          -0.704
q1                 1.000
median             1.000
q3                 4.000
n_missing          7.000
missing_rate       0.002
n               3010.000
Name: married, dtype: float64

In [4]:
analyzer.causal(
    treatment='educ_binary', 
    outcome='lwage', 
    confounders=[
        'age', 
        'black', 
        'married', 
        'momdad14', 
        'motheduc', 
        'sinmom14', 
        'smsa', 
        'south'
    ]
).estimate_ate(method='ipw_estimator')

UPDT: IPW estimator bootstrap sample 20/100
UPDT: IPW estimator bootstrap sample 40/100
UPDT: IPW estimator bootstrap sample 60/100
UPDT: IPW estimator bootstrap sample 80/100
UPDT: IPW estimator bootstrap sample 100/100

========================================================================================
Causal Effect Estimation Report
----------------------------------------------------------------------------------------
Estimate: 0.123                             Std Err: 0.018
Estimand: Avg Trmt Effect (ATE)             p-value: 3.012e-12
----------------------------------------------------------------------------------------
Treatment variable:
  'educ_binary'

Outcome variable:
  'lwage'

Confounders:
  'age', 'black', 'married', 'momdad14', 'motheduc', 'sinmom14', 'smsa', 'south'
----------------------------------------------------------------------------------------
Method:
  Inverse Probability Weighting (IPW) Estimator
========================================================================================

In [5]:
analyzer.causal(treatment='educ_binary', outcome='lwage', confounders=['age', 'exper', 'expersq', 'south', 'smsa66']).estimate_ate(method='ipw_weighted_regression')

========================================================================================
Causal Effect Estimation Report
----------------------------------------------------------------------------------------
Estimate: -0.003                            Std Err: 0.023
Estimand: Avg Trmt Effect (ATE)             p-value: 8.878e-01
----------------------------------------------------------------------------------------
Treatment variable:
  'educ_binary'

Outcome variable:
  'lwage'

Confounders:
  'age', 'exper', 'expersq', 'south', 'smsa66'
----------------------------------------------------------------------------------------
Method:
  Inverse Probability Weighting (IPW) Weighted Regression
========================================================================================